body {
    font-family: 'Roboto', sans-serif;
}

.main-block {
    width: 310px;
    height: 150px;
    background-color: deepskyblue;
    display: flex;
    align-items: right;
    justify-content: right
    border-radius: 30px;
}

.main-block-message {
    font-size: 23px;
}
